<h1>Editing Article</h1>

<%= render 'form' %>

<br/><br />

<div class="mb-4 mt-2">
  <%= link_to 'Show', @article, class: "btn btn-sm btn-info" %> |
  <%= link_to 'Back', articles_path, class: "btn btn-sm btn-secondary" %>
</div>
