<h1>New Article</h1>

<%= render 'form' %>

<div class="mb-4 mt-2">
  <%= link_to 'Show', @article, class: "btn btn-info" %> |
  <%= link_to 'Back', articles_path, class: "btn btn-secondary" %>
</div>
