// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments-section{
  display: none;
}
.container, .row {
  height: 100%;
  min-height: 100%;
  width: 50%;
}
