<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
       <th colspan="2"><center>Category Details</center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= @category.name %></td>
      </tr>

      <tr>
        
        <td><strong>Sub Categories</strong></td>
         <% if @category.sub_categories.any? %>
        <td>
          <ul>
            <% @category.sub_categories.each do |sub_category| %>
              <li><%= sub_category.name %></li>
            <% end %>
          </ul>
            <% else %>
              <p> none available </p>
            <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mb-4 mt-2">
  <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-info" %> |
  <%= link_to 'Back', categories_path, class: "btn  btn-secondary" %>   
</div>
