<center><h3>Sub Categories</h3></center>
<br></br>
<div class="container">
  <% @category.each do |f| %>
    <p><%= f.name %></p>
    <% f.sub_categories.each do |sub| %>
      <p><%= sub.name %></p>
    <% end%>
  <% end %>
</div>
