<nav class="navbar navbar-expand-lg navbar-dark bg-light">
<footer class="page-footer font-small special-color-dark" >
      <div class="container text-center">
        <copyright>
          &copy; Copyright <%= Time.now.year %> BlogApp
        </copyright>
              
      </div>
</footer>
</nav>
